# Emacs backup files.
*~
\#!*!\#

# Emacs state files.
# They end up in the repo as stow symlinks the entire directory.
emacs/.config/emacs/*
!emacs/.config/emacs/
!emacs/.config/emacs/init.el
!emacs/.config/emacs/early-init.el
